<h1>Search article</h1>
<!---
<%= render 'form_search' %>
-->

<%= link_to 'Show', @article %> |
<%= link_to 'Back', articles_path %>
<%= button_to "Executer", root_path, :class => "button", :method => :get  %>
